body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: initial;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(117, 230, 255),rgb(251, 255, 169));
}



.box{
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #56ffc4;
}

.display{
    width: 380px;
    height: 150px;
    position: relative;
    top: -45px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 10px;
    font-size:25px;
    font-family: monospace;
    border-radius: 10px;
    background: rgb(130, 255, 234);
    color: rgb(65, 65, 65);
    white-space: nowrap;
    overflow-x: auto;
}

.text{
    text-align: center;

}

.check{
    display: flex;
    flex-direction: column;
    gap: 12px;                 
    width: 200px;
}

.check input[type="checkbox"]{
    margin-right: 10px;
}

.check input[type="range"]{
    width: 100%;
    margin-top: 5px;
}

.check label{
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

#value{
    font-weight: bold;
    color: #373737;
    position: relative;
}

#val{
    position: relative;
    bottom: 20px;
}



button{
    padding: 10px 50px;
    text-align: center;
    background: #53cba1;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}


